<div class="container-fluid">
    <div class="row">
        <div class="col-12"> <!-- Adjust the column size as needed -->
            <mat-nav-list>
                <div class="logo py-4 text-center"> <!-- Center logo/text -->
                    <h1 style="color: white;">New Payments</h1>
                    <!-- <img src="./assets/logo.svg" alt="Company Logo" class="img-fluid" /> -->
                    <!-- Use img-fluid for responsive images -->
                </div>
                <mat-divider></mat-divider>
                <h2 matSubheader class="mt-2" style="color: white; text-align: center;">APPLICATIONS</h2>
                
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard"
                    class="d-flex align-items-center">
                    <mat-icon style="color: white; margin-right: 10px;">dashboard</mat-icon>
                    <span class="DD">Dashboard</span>
                </a>

                <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/add-employee"
                    class="d-flex align-items-center">
                    <mat-icon style="color: white; margin-right: 10px;">add_box</mat-icon>
                    <span class="DD">Add Customer</span>
                </a>

                <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/employee-table"
                    class="d-flex align-items-center">
                    <mat-icon style="color: white; margin-right: 10px;">table</mat-icon>
                    <span class="DD">Customer Table</span>
                </a>
            </mat-nav-list>
        </div>
    </div>
</div>