<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button mat-icon-button (click)="toggleSidebar()" class="nav-link">
              <mat-icon>menu</mat-icon>
            </button>
          </li>
        </ul>
  
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button mat-button [matMenuTriggerFor]="menu" class="nav-link user d-flex align-items-center">
              <img src="assets/img/undraw_profile.svg" alt="" class="user-image mr-1 p-2" />
              <span>Vikash Kamat</span>
              <mat-icon class="ml-1">keyboard_arrow_down</mat-icon>
            </button>
  
            <mat-menu #menu="matMenu" class="dropdown-menu">
              <button mat-menu-item routerLink="/admin/profile" class="dropdown-item">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
              </button>
  
              <button mat-menu-item class="dropdown-item">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
              </button>
  
              <button mat-menu-item class="dropdown-item">
                <mat-icon>subject</mat-icon>
                <span>Activity Log</span>
              </button>
              <div class="dropdown-divider"></div>
  
              <button mat-menu-item class="dropdown-item">
                <mat-icon>logout</mat-icon>
                <span> Logout</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  